/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  background-color: #060ce9;
  align-self: start;
}

.box {
  background-color: #115ff4;
  height: 70;
  width: 70;
  text-align: center;
}

tr {
  background-color: #115ff4;
  text-align: center;
  padding: 10px;
  color: white;
  text-transform: capitalize;
  border-style: solid;
  border-color: black;
  display: flex;
  /* display: block; */
}

td {
  text-decoration: white;
  height: 107px;
  width: 107px;
  text-align: center;
  table-layout: auto;
  padding: 10px;
  max-width: 92;
  grid-row-end: auto;
  /* display: block; */
}

thead {
  display: flex;
  table-layout: fixed;
}

.catrow {
  display: inline;
  padding-left: 12rem;
}

.table {
  border-collapse: collapse;
  width: max-content;
  table-layout: fixed;
  display: inline;
  overflow: auto;
  border: none;
}

tbody {
  table-layout: fixed;
}

div {
  display: flex;
}

caption {
  text-decoration: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}


.bigTable {
  max-width: 30px;
  padding: 10px;
  border-left: 25em;
}

.wrapper {
  text-align: center;
}
